.swiper {
  width: 100%;
  height: auto;
  min-height: 250px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .swiper {
    min-height: 240px;
  }
}

@media screen and (max-width: 640px) {
  .swiper {
    min-height: 260px;
  }
}
