/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bgBlack {
  background-color: #1c1e21;
  color: #f3f3f4;
  padding: 2px 4px;
}
.fsBanner {
  font-size: 150px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 900;
  color: #1c1e21;
  margin-bottom: 0;
}
.heroBanner::selection {
  background: #1c1e21;
  color: #f3f3f4;
}
.heroBanner::-moz-selection {
  background: #1c1e21;
  color: #f3f3f4;
}
.heroBanner {
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}
.itemsCenter {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
  padding-left: 0;
  li {
    line-height: 2;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border {
  border: 1px solid var(--ifm-color-secondary-dark);
  color: #1c1e21;
  &:hover {
    background-color: var(--ifm-color-secondary-dark);
    border: var(--ifm-color-secondary-dark);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .heroBanner {
    padding: 2rem;
  }
  .fsBanner {
    font-size: 100px;
  }
}
